.hero {
    padding: 200px 0 200px 0;
    margin-top: 135px;
    width: 100%;

    .hero-wrapper {
        padding: 0 20px 0 20px;
        display: flex;
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        justify-content: center;

        @include for-desktop {
            max-width: 1000px;
        }
        @include for-phone-only {
            flex-direction: column;
            align-items: center;
        }
    }

    .hero-content-left {
        width: 100%;
        max-width: 611px;

        h1 {
            font-size: $font-size-h1;
            font-family: $font-family-montserrat;
            margin-bottom: 30px;
            font-weight: 800;

            @include for-mobile-only {
                font-size: 40px;
            }
        }
        p {
            font-size: $font-size-p;
            font-family: $font-family-poppins;
            font-size: $font-size-h3;
            margin-bottom: 130px;

            @include for-phone-only {
                margin-bottom: 50px;
            }
        }
        .button-container {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;

            .green-button,
            .dark-button {
                @include for-mobile-only {
                    width: 100%;
                }
            }

            @include for-phone-only {
                justify-content: center;
            }
        }

        @include for-phone-only {
            margin-bottom: 50px;
            text-align: center;
        }
    }
    .hero-content-right {
        width: 100%;
        max-width: 746px;
        display: flex;
        align-self: flex-end;

        .computer-illustration {
            @include for-desktop {
                width: 100%;
            }
            @include for-phone-only {
                width: 100%;
            }
        }

        @include for-phone-only {
            overflow: hidden;
            align-self: center;
        }
    }

    @include for-phone-only {
        padding: 100px 0 50px 0;
    }

    @include for-mobile-only {
        margin-top: 80px;
    }
}
