.stage-images {
    width: 100%;
    padding: 200px 0 200px 0;
    overflow: hidden;

    .image-wrapper {
        margin: 0 auto;
        padding: 0 20px 0 20px;
        display: flex;
        width: 100%;
        max-width: 1400px;
        flex-wrap: wrap;

        .margin {
            margin-bottom: 100px;

            @include for-phone-only {
                margin-bottom: 50px;
            }
        }

        .stage-scherm {
            margin-top: 50px;
            margin-bottom: 50px;
            width: 100%;
            height: 100px;
            background-color: $green-color-dark;
            display: flex;
            justify-content: center;
            align-items: center;
            transition-duration: 0.3s;
            transition-timing-function: cubic-bezier(1, -0.02, 0.76, 1);

            h1 {
                color: $white-color;
            }

            &.active {
                height: 0px;
            }
        }

        .stage-blok {
            margin-bottom: 50px;
            margin-top: 50px;
            .blok {
                margin-bottom: 50px;

                h2 {
                    margin-bottom: 10px;
                }
            }

            @include for-phone-only {
                text-align: center;
                align-items: center;
                display: flex;
                flex-direction: column;
            }
        }

        .content-block {
            background-color: rgba(0, 0, 0, 0.7);
            width: 100%;
            position: absolute;
            height: 100%;
            bottom: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 47px;
            cursor: pointer;

            .text h3,
            p {
                width: 80%;
                color: $font-color-white;
            }

            h3 {
                margin-bottom: 5px;
            }

            .text:hover {
                transform: translateY(-10%);
            }

            .green-block {
                background-color: $green-color-dark;
                width: 100px;
                height: 100px;
                border-radius: 40% 0 0 0;
                position: absolute;
                right: 0;
                bottom: 0;
                align-items: center;
                justify-content: center;
                display: flex;

                .arrow {
                    width: 20px;
                    height: 30px;
                }
            }

            .green-block:hover {
                transform: scale(120%);
            }
        }

        .image-block-left {
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
            display: flex;
            padding-right: 20px;

            .text-block {
                width: 100%;

                .block {
                    margin-bottom: 100px;
                    flex-wrap: wrap;
                    margin-top: 100px;
                    justify-content: space-between;
                    display: flex;

                    .texts {
                        margin-right: 30px;
                        width: 40%;

                        @include for-phone-only {
                            margin-bottom: 40px;
                            width: 100%;
                        }
                    }

                    h2 {
                        margin-bottom: 10px;
                    }

                    .block-image-wrapper {
                        flex-wrap: wrap;
                        width: 55%;
                        justify-content: space-between;
                        display: flex;
                        flex-direction: row;
                        img {
                            max-width: 600px;
                            width: 100%;
                            border: 1px solid black;
                        }

                        @include for-phone-only {
                            width: 100%;
                            justify-content: center;
                        }
                    }

                    @include for-phone-only {
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                    }
                }
            }

            .image-block {
                height: 700px;
                overflow: hidden;
                position: relative;
                width: 100%;
                max-width: 600px;
                border-top: 20px solid #50b56f;

                img {
                    width: 100%;
                    height: 100%;
                }

                @include for-desktop {
                    height: unset;
                }
            }

            @include for-phone-only {
                padding: 0;
                width: 100%;
                margin-bottom: 50px;
                align-items: center;
            }
        }
        .image-block-right {
            width: 100%;
            display: flex;
            padding-left: 20px;
            flex-direction: column;
            align-items: flex-start;

            .text-block {
                width: 100%;

                .block {
                    justify-content: space-between;
                    margin-top: 100px;
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 100px;

                    .texts {
                        width: 40%;
                        margin-right: 30px;

                        @include for-phone-only {
                            margin-bottom: 40px;
                            width: 100%;
                        }
                    }

                    h2 {
                        margin-bottom: 10px;
                    }

                    .block-image-wrapper {
                        width: 55%;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        display: flex;
                        flex-direction: row;
                        img {
                            border: 1px solid black;
                            max-width: 600px;
                            width: 100%;
                        }

                        @include for-phone-only {
                            justify-content: center;
                            width: 100%;
                        }
                    }

                    @include for-phone-only {
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                    }
                }
            }

            .image-block {
                height: 700px;
                overflow: hidden;
                position: relative;
                max-width: 600px;
                border-top: 20px solid #50b56f;
                width: 100%;

                img {
                    width: 100%;
                    height: 100%;
                }
                @include for-desktop {
                    height: unset;
                }
            }

            @include for-phone-only {
                width: 100%;
                align-items: center;
                padding: 0;
            }
        }

        @include for-phone-only {
            flex-direction: column;
            padding: 0px 40px;
        }
    }

    @include for-phone-only {
        padding: 100px 0 100px 0;
    }
}
