//fonts
$font-family-poppins: "Poppins", sans-serif;
$font-family-montserrat: "Montserrat", sans-serif;

//font-sizes
$font-size-h1: 53px;
$font-size-h2: 38px;
$font-size-h3: 18px;
$font-size-p: 16px;
$font-size-nav: 18px;
//letter spacing
$sub-title-spacing: 5px;

//font color
$font-color-dark: #313131;
$font-color-white: #ffffff;

//block colors
$green-color-dark: #50b56f;
$green-color-light: #a4d3ae;
$black-color-dark: #313131;
$black-color-light: #4e4e4e;
$white-color: #ffffff;

//mixins
@mixin for-mobile-only {
    @media (max-width: 600px) {
        @content;
    }
}
@mixin for-phone-only {
    @media (max-width: 1000px) {
        @content;
    }
}
@mixin for-macbook {
    @media (min-width: 1000px) and (max-width: 1400px) {
        @content;
    }
}
@mixin for-desktop {
    @media (min-width: 1000px) and (max-width: 1800px) {
        @content;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1,
p,
h2,
h3,
a {
    color: $black-color-dark;
}
h3,
h1 {
    font-family: $font-family-poppins;
}
p,
h2,
h3,
a {
    font-family: $font-family-montserrat;
}

.dark-button a {
    color: $font-color-white;
    text-decoration: none;
}

.green-button {
    padding: 20px;
    background-color: $green-color-dark;
    color: $font-color-white;
    font-size: $font-size-h3;
    font-weight: 800;
    cursor: pointer;
    border: none;
    font-family: $font-family-poppins;
    text-decoration: none;
}

.green-button:hover {
    transform: scale(105%);
}

.dark-button:hover {
    transform: scale(105%);
}

.dark-button {
    padding: 20px;
    cursor: pointer;
    background-color: $black-color-dark;
    text-decoration: none;
    font-size: $font-size-h3;
    font-weight: 800;
    color: $font-color-white;
    font-family: $font-family-poppins;
    border: none;
}

.background-effect {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 60%;
    z-index: -1;

    @include for-phone-only {
        width: 100%;
    }
}
.second-background-effect {
    position: absolute;
    left: 0;
    opacity: 60%;
    z-index: -1;

    @include for-phone-only {
        width: 100%;
    }
}

@import "_header";
@import "_hero";
@import "_functions";
@import "_pricing";
@import "_contact";
@import "_footer";
@import "_images";
@import "_contact-full";
@import "_about";
@import "_mobile-header";
@import "_stage";
